body{
    background-color: darkgrey;
        color: black;
}

img{
    mix-blend-mode: multiply;
}


.my1{
    font-size: 90px;
    text-align: left;
    font-family: 'Passions Conflict', cursive;

}

.my2{
    text-align: center;
    font-family: 'Andika', sans-serif;
    font-size: 25px;
    font-weight: lighter;
}

.my3{
    font-family: 'Amatic SC', cursive;
    text-align: left;
    font-size: 43px;
    font-weight:bolder;
}

.my4{
    font-size: 20px;
    font-family: 'Andika', sans-serif;
    font-weight: lighter;
}

.my5{
    font-size: 25px;
    text-align:center;
    font-family: 'Andika', sans-serif;
}

.my6{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 43px;
    font-weight: bolder;
    letter-spacing: 2px;
}