body{
    /*background-image: url("nasa-V4ZksNimxLk-unsplash.jpg");*/
    /* background: linear-gradient(to bottom right, #7694ff, #33CCFC); */
    background-color: grey;
    color: black;
    text-decoration: none;
}


img{
    mix-blend-mode: multiply;
}


.myx{
    display:flex;
    justify-content: center;
    
}


.my1{
    font-size: 100px;
    font-weight: 500;
    text-align: left;
    font-family: 'Passions Conflict', cursive;
    text-shadow: 6px 6px 6 wheat;
    color: white;
    text-decoration: none;
}

.my2{
    
    text-align: center;
    font-family: 'Andika', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    text-decoration: none;
}

.my3{
    font-family: 'Amatic SC', cursive;
    text-align: left;
    font-size: 43px;
    font-weight:bolder;
}

.my4{
    font-size: 20px;
    font-family: 'Andika', sans-serif;
    font-weight: lighter;
}

.my5{
    font-size: 25px;
    text-align:center;
    font-family: 'Andika', sans-serif;
    color:rgb(252, 191, 77);
}

.my6{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 43px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-decoration: none;
    
}

.my7 {
    font-size: 25px;
    text-align: center;
    font-family: 'Andika', sans-serif;
    
}

.my7:hover{
    text-shadow: 0 0 15px rgb(73, 2, 2);
}


.my8{
    font-family: 'Andika', sans-serif;
    text-align: center;
    font-size: larger;
    border: black 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(252, 191, 77);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(98, 99, 100, 0.2);
    height: fit-content;
    width:fit-content;
    margin:auto;
    width:200px; 
}

.my9{
    color:black;
    text-decoration:none;
    text-shadow: 2.2px 2.2px rgb(0, 0, 0);
    margin: auto;
    font-size: 40px;
    padding: 6px;
    background-color: darkgrey;
    display: inline-block;
    justify-content: center;
}

.my9:link{
    color:black;
    text-decoration: none;
}

.my9:hover{
    
    color:black;
    text-decoration: none;
    text-shadow: 2px 2px white;
    font-size: 40px;
    border: rgb(216, 215, 213);
    border-radius: 20px;
    padding: 1px;
    margin: auto;
    padding: 6px;
}

.my9:visited{
    background-color: wheat !important;
    text-decoration-color: black;
    font-size: 40px;
    margin: auto;
    padding: 6px;
    
}

.my10{
    font-size: 25px;
    text-align: center;
    font-family: 'Andika', sans-serif;
    background-color: rgb(98, 99, 100, 0.2);
    border-radius: 80px;
    border:2px solid black; 
    box-shadow: 0 0 30px wheat;
    padding:1px 1px 1px 1px;
}

.btn{
    font-family: 'Andika', sans-serif;
    text-align: center;
    font-size: larger;
    border: black 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(252, 191, 77);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: whitesmoke;
    height: fit-content;
    width:fit-content;
    margin:auto;
    width:200px;
    display: block;
    justify-content: center; 
}

.btn1{
    font-size: small;
    font-family: 'Andika', sans-serif;
    border: black 2px solid;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(252, 191, 77);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: whitesmoke;
    height: fit-content;
    width:fit-content;
    margin:auto;
    width:200px;
}

.my11{
    text-align: center;
    color:black;
    text-decoration: none;
}

.my12{
    text-align: center;
    color:white;
}

.my13{
    text-align: left;
    border: 2px solid #333;
    border-radius: 10px;
    border-bottom: 50%;
    display: inline-block;
}

.my14{
    background-color: white;
    border: 0px white solid;
    box-shadow: 0 0 20px rgb(252, 191, 77);
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 20px;
    padding-top: 10px;
}


.btn:hover{
    width:250px;
    box-shadow: 5px 5px black, 7px 7px 10px rgb(252, 191, 77);
    transition: ease width 4s height 4s;
}

.social-links,.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-btn {
    cursor: pointer;
    height: 60px;
    width: 60px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: rgb(202, 202, 202);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    margin: 15px;
    transition: 0.3s;
    justify-content: center;
  }
  
  .social-btn svg {
    height: 24px;
    width: 24px;
  }
  
  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
  }
  
  .social-btn:hover {
    width: 150px;
    border-radius: 5px;
  }
  
  .social-btn:hover span {
    padding: 2px;
    width: 80px;
  }
  
  #linkedin svg {
    fill: #0e76a8;
  }
  
  #github {
    fill: #333;
  }
  
  #instagram {
    fill: #833AB4;
  }


  #experience{
    font-family: 'Amatic SC', cursive;
    text-align: left;
    font-size: 43px;
    font-weight:bolder;
}

.container{
    display: flex;
    flex-direction: row;
    /* justify-content:space-around; */
    /* flex-wrap: wrap;
    align-content: center; */
}

.container:hover{
    color:#2d0249;
}

.container1{
    /* display: flex;
    justify-content: center; */
    flex-wrap: wrap;
    align-content: center;
    border: solid 2px rgb(0, 0, 0);
    background-color: white;
    border-radius: 20px;
    /* box-shadow: 0 0 20px rgb(77, 252, 214); */
    padding:5px;
    margin: 5px;
}

.container3{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center; */
    display:flexbox;
    justify-content: center;

    text-align: center;
    color: white;
}